body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f4f4f4;
}

.hero {
    text-align: center;
    padding-bottom: 25px;
    background: #000;
    color: #fff;
}

.hero-img {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    opacity: 0.9;
}

.section {
    padding: 20px;
}

.services ul {
    padding-left: 20px;
}

.btn {
    background: black;
    color: white;
    padding: 12px 18px;
    text-decoration: none;
    border-radius: 8px;
    display: inline-block;
    margin-top: 10px;
}

footer {
    background: black;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 20px;
}

/* Masonry Gallery */
.gallery {
    columns: 2;
    column-gap: 10px;
    padding: 10px;
}

.gallery img {
    width: 100%;
    margin-bottom: 10px;
    border-radius: 10px;
}